<%= render partial: 'navbar', locals: {act: :index} %>

<div class='row'>
  <div class='col-xs-8'>
    <h1>Time entries</h1>
  </div>
  <div class='col-xs-4'>
    <button class="btn new-time-entry pull-right" data-toggle="modal" data-target="#new-time-entry-modal"><span class="glyphicon glyphicon-plus"></span> New entry</button>
  </div>
</div>

<table class="time-entries">
  <thead>
	<tr>
	  <th>Date</th>
	  <th>Duration</th>
	  <th>Distance</th>
	  <th>Average speed</th>
    </tr>
  </thead>
  <tbody>
	<% @time_entries.each do |time_entry| %>
	  <tr>
	  	<td><%= l time_entry.date, format: :short %></td>
	  	<td><%= distance_of_time_in_words(time_entry.time.seconds) %></td>
	  	<td><%= number_to_human(time_entry.distance,units: :distance) %></td>
	  	<td><%= number_to_human_speed(time_entry.average_speed) %></td>
	  </tr>
	<% end %>
  </tbody>
</table>



<div class="modal fade" id="new-time-entry-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">New entry</h4>
      </div>
      <div class="modal-body">
		 <%= form_for @time_entry,remote: true, html: {role:"form", class:"form-horizontal new-time-entry"} do |f| %>
		    <%= render partial: 'shared/error_messages', locals: {target: f.object }%>
		 	<div class="form-group date">
		 	  <%= f.label :date, class:"control-label" %>
		 	  <div class="field-input">
		 		<div class="row">
		 		  <div class="col-datetime-date"> 
		 		    <div class="input-group date">
		 	          <%= text_field_tag 'time_entry[date_s][date]', f.object.date.try(:strftime,'%m/%d/%Y'), data: {behaviour: 'datepicker'}, placeholder: "MM/DD/YYYY", class:"form-control"  %>
		 		      <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
		 		    </div>
		 	      </div>
		           <div class="col-datetime-time">
		             <%= text_field_tag 'time_entry[date_s][time]', f.object.date.try(:strftime,'%H:%M') ,placeholder: "HH:MM", class:"form-control" %>
		 	      </div>
		 	    </div>
		 	    <span class="help-inline">Date in MM/DD/YYYY HH:MM format</span>
		 	  </div>
	  
		 	</div>
		 	<div class="form-group time">
		 	  <%= f.label :time_in_minutes, 'Time', class:"control-label" %>
		 	  <div class="field-input">
		 		<div class='input-group'>
		   	    	<%= f.number_field :time_in_minutes, class:"form-control" %>
		 			<span class="input-group-addon">minutes</span>
		 		</div>
		 		<span class="help-inline">Duration of the run in minutes</span>
		 	  </div>
	        </div>
		 	<div class="form-group distance">
		   	  <%= f.label :distance, class:"control-label" %>
		 	  <div class="field-input">
		 		<div class='input-group'>
		 	      <%= f.number_field :distance, class:"form-control" %>
		 	  	  <span class="input-group-addon">meters</span>
		 		</div>
		 		<span class="help-inline">Distance of the run meters</span>
		 	  </div>
	  
		 	</div>
			<div class="modal-footer">
		 	  <div class="submit from-group">
		 	    <div class="submit-button">
		 	      <%= f.submit class:"btn" %>
		 	    </div>
		      </div>
		    </div>
		 <% end %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->