<%= render partial: 'navbar', locals: {act: :weekly} %>

<h1>Weekly report</h1>

<table class="time-entries">
  <thead>
	<tr>
	  <th>Week</th>
	  <th>Total distance</th>
	  <th>Average speed</th>
    </tr>
  </thead>
  <tbody>
	<% @sums_by_week.each do |sum| %>
	  <tr>
	  	<td><%= sum[:week][:year] %>/<%= sum[:week][:week] %></td>
	  	<td><%= number_to_human(sum[:distance],units: :distance) %></td>
	  	<td><%= number_to_human_speed(sum[:average]) %></td>
	  </tr>
	<% end %>
  </tbody>
</table>
